.cart-section {
  margin-top: 100px;

  padding: 30px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  row-gap: 2rem;
  flex-direction: column;
}

.cart-item {
  font-size: 10px;
  height: 150px;
  padding: 20px;
  width: 650px;
  background-color: rgb(253, 253, 253);
  box-shadow: 0px 3px 10px rgb(117, 117, 117);
  margin-bottom: 10px;
  display: flex;
}

.middle-div {
  margin-left: 5px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  flex: 1;
}
.cart-img {
  padding: 10px;
  width: 120px;
}

.cart-item-heading {
  display: inline-block;
  font-size: 20px;
}

.remove-price-div {
  position: relative;
  margin-left: 100px;
  text-align: center;
}

.cart-remove-btn {
  width: 70px;
  padding: 5px;
  margin-bottom: 40px;
  border: 2px solid rgb(255, 0, 0);
  color: rgb(255, 0, 0);
  background-color: #fff;
  border-radius: 5px;
}

.cart-remove-btn:hover {
  background-color: rgb(255, 0, 0);
  color: #fff;
}

.cart-price {
  font-size: 20px;
}

.cart-buttons {
  width: 40px;
  height: 20px;
  margin-right: 2px;
  border: 1px solid black;
  background-color: rgb(252, 252, 252);
}

.cart-buttons:hover {
  background-color: #b9b9b9;
  cursor: pointer;
}

/* ----------------------------------------- Shipping Section ---------------------------------- */

.shipping-header {
  display: flex;
  justify-content: center;
  align-content: center;
}

.ship-img {
  width: 120px;
  height: 40px;
}

.shipping-section {
  border-top: 1px solid black;
  padding: 30px;
  margin-top: 60px;
  text-align: center;
}

.shipping-container {
  padding: 20px;
  width: 500px;
  height: 100px;
  background-color: rgb(253, 253, 253);
  box-shadow: 0px 3px 10px rgb(117, 117, 117);
  display: flex;
  align-items: center;
  text-align: left;
  justify-content: space-between;

  margin-bottom: 10px;
}

.shipping-text {
  margin-left: 20px;
  flex: 1;
}

.shipping-btn {
  width: 100px;
  padding: 5px;
  border-radius: 3px;
  background-color: #fff;
}

.shipping-btn:hover {
  background-color: black;
  color: #fff;
}

#info-icon {
  font-size: 30px;
  margin-top: 8px;
  margin-left: 60px;
}

#info-icon:hover {
  opacity: 0.8;
  cursor: pointer;
}

@media (max-width: 768px) {
  .cart-item {
    width: 450px;
  }

  .cart-img {
    width: 100px;
    height: fit-content;
  }

  .cart-item-heading {
    font-size: 16px;
  }

  /* ---------------- shipping section --------------------- */

  .shipping-container {
    width: 400px;
  }

  .shipping-btn {
    width: 80px;
  }

  .ship-img {
    width: 80px;
    height: 40px;
  }
}
