.register-container {
  text-align: center;
}

#username,
#password,
#email,
#firstName,
#Surname {
  height: 30px;
  width: 300px;
  padding-left: 20px;
  border: 1px solid black;
  border-radius: 5px;
}

.register-btn {
  background-color: rgb(224, 224, 224);
  padding: 10px;
  color: rgb(148, 59, 231);
  width: 200px;
  width: 300px;
  border: 2px solid rgb(148, 59, 231);
  border-radius: 10px;
}

.register-btn:hover {
  cursor: pointer;
  background-color: rgb(148, 59, 231);
  color: #fff;
}
